<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSScreenCaptureUsageDescription</key>
    <string>电脑助手需要查看屏幕，以便按你的要求操作应用。</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>电脑助手会在任务需要时请求操作其他应用。</string>
</dict>
</plist>
